@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'lt-sonoma';
  src:
    url('./assets/fonts/lt-sonoma.woff2') format('woff2'),
    url('./assets/fonts/lt-sonoma.woff') format('woff'),
    url('./assets/fonts/lt-sonoma.ttf') format('truetype');
}

body {
  font-family: 'lt-sonoma', sans-serif;
}

.search-params {
  min-height: calc(100vh - 209px);
}

.breadcrumbs {
  & li:not(:last-child)::after {
    content: '>';
    margin-left: 12px;
  }
}
